body {
  margin: 0px;
  padding: 0px;
  width: 95%;
  background-color: #fff;
}

header {
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -moz-box;
}

h1 {
  font-size: 3em;
  font-family: 'Comic Sans MS', cursive;
  -webkit-box-ordinal-group:1;
  -moz-box-ordinal-group:1;
}

h1 a {
  color: #f64;
  text-decoration: none;
}

nav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
}

ul {
  list-style-type: none;
  display: block;
  float:right;
  border-bottom: double 5px #f64;
  margin-bottom: 5px;
}

nav ul {
  display: inline;
  font-family: 'Raleway', sans-serif;
}

nav ul li {
  width: 150px;
  height: 20px;
  float: left;
  text-align: center;
}

nav ul li h2 {
  display: inline;
  font-size: 1em;
  margin: 0;
  line-height: 100%;
}

nav ul li h2 a {
  color: black;
  text-decoration: none;
}

nav ul li.current h2 a {
  color: #f96;
  font-weight: bold;
}

article {
  margin-left: 50px;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  display: -moz-box;
  display: -webkit-box;
}

article > div {
  padding: 15px;
}

article #mainContents {
  margin-left:auto;
  margin-right:auto;
  margin-top:0
  border: solid 1px #999;
  width: 60%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
}

footer {
  margin-top: 10px;
  text-align: right;
}

section {
  margin : 20px;
  border: solid 1px #f64;

  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -khtml-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
}

section > h1 {
  margin-bottom: 5px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.5em;
  color: #f64;
  background-color: #fca;
}

section > form {
  margin : 10px;
}


